%h1 Monument #{@monument.name}

= render 'monument', :monument => @monument, :hide_link => true

- if permitted_to? :update, @monument
  = link_to 'Edit', edit_collection_monument_path(@collection, @monument)

- if permitted_to? :destroy, @monument
  = link_to 'Delete', collection_monument_path(@collection, @monument), :method => :delete, :data => { :confirm => 'Are you sure?' }